html,
body {
  position: relative;
  height: 100%;
}

body {
  position: relative;
  background: $silver;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

button,
input {
  background: transparent;
  border: 2px solid $silver;
  padding: em(10) em(15);
}

input {
  display: block;
}

.wrap {
  @include outer-container;
}

.home {
  background: url(../../img/login.jpg) no-repeat center center fixed;
  background-size: cover;
}

.logo-img {
  position: absolute;
  fill: $silver;
  left: 0;
  right: 0;
  display: inline-block;
  width: em(80);
  height: em(80);
  margin: em(20) auto;
  &:hover {
    .logo-img__dark {
      fill: $coral;
    }
  }
}

.main-content {
  @include clearfix;
}